@font-face {
    -fx-font-family: myFont;
    src:url(../../font/Gilroy.ttf);
}

.label{
    -fx-font-family: Gilroy;
    -fx-text-fill: #000000;
    -fx-fill: #000000;
}

.labelPoint{
    -fx-font-family: Gilroy;
    -fx-fill: #0077FF;
}

.main_menu {
    -fx-background-color: #E9EBFF;
    -fx-alignment: center;
}

.left_container {
    -fx-background-color: #E9EBFF;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(two-pass-box, #E9EBFF, 5, 0, 0, 4);
}

.title_container {
    -fx-background-color: #E9EBFF;
    -fx-background-radius: 20, 20, 0, 0;
}

.title_container Text {
    -fx-fill: #000000;
    -fx-background-radius: 20, 20, 0, 0;
    -fx-font-family: Gilroy;
}

.menu_container_not_selected {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
}

.menu_container Button {
    -fx-pref-width: 234;
    -fx-pref-height: 40;
    -fx-background-color: #E9EBFF;
    -fx-text-fill: #000000;
    -fx-font-size: 1.4em;
    -fx-font-weight: Bold;
    -fx-alignment: center_left;
    -fx-background-radius: 0;
    -fx-font-family: Gilroy;
}

.menu_container Button:hover {
    -fx-cursor: hand;
    -fx-spacing: 20;
    -fx-text-fill: #0077FF;
}

.on_button_selected {
    -fx-padding: 10 10 10 20;
    -fx-spacing: 20;
    -fx-pref-width: 300;
    -fx-pref-height: 40;
    -fx-background-color: #0077FF;
    -fx-text-fill: #E9EBFF;
    -fx-font-size: 1.4em;
    -fx-font-weight: Bold;
    -fx-alignment: center_left;
}

.alt_menu_btn {
    -fx-pref-width: 115;
    -fx-pref-height: 40;
    -fx-background-color: #E9EBFF;
    -fx-fill: #000000;
    -fx-font-size: 1.4em;
    -fx-alignment: center_left;
    -fx-font-family: Gilroy;
}


